<div class="home__container">
    
    <app-cards
        gameCover="../../../assets/bt-5.jpg"
        gameLabel="Exclusive"
        gameType="PlayStation V"
        gamePrice="R$ 129,99"
    >
    </app-cards>
    <app-cards
        gameCover="../../../assets/bt-4.jpg"
        gameLabel="Digital"
        gameType="XPTO | PS4"
        gamePrice="R$ 129,99"
    >  
    </app-cards>
    <app-cards
        gameCover="../../../assets/bt-1.jpg"
        gameLabel="Exclusive"
        gameType="PlayStation V"
        gamePrice="R$ 99,99"
    >
    </app-cards>
    <app-cards
        gameCover="../../../assets/ac-cover.jpg"
        gameLabel="Exclusive"
        gameType="PlayStation V"
        gamePrice="R$ 199,99"
    >
    </app-cards>
</div>

